<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzst.iacenter.dao.EmailMapper">

	<insert id="insert" parameterType="cn.fivemeter.email.bean.Email">
		INSERT INTO emails (emailId,receiveId,receiveName,sendId,sendName,sendTime,title,attachId,content,receiveState,sendState,readTime,createTime,changeTime)
		VALUES
		(
			#{emailId},#{receiveId},#{receiveName},#{sendId},#{sendName},#{sendTime},#{title},#{attachId},#{content},#{receiveState},#{sendState},#{readTime},#{createTime},#{changeTime}
		)
	</insert>
	
	<!-- 发件信件总数 -->
	<select id="getSendEmailCount" parameterType="Map" resultType="int">
		SELECT COUNT(emailId) FROM
		(
			SELECT emailId FROM emails
			WHERE sendState=#{sendState} and sendId=#{sendId}
			GROUP BY emailId
		) as t
	</select>
	
	<!-- 发件人组合分页列表 -->
	<select id="getSendEmailList" parameterType="Map" resultType="Map">
		SELECT *,
		GROUP_CONCAT(receiveName separator ",") as allReceiveName,
		GROUP_CONCAT(receiveId separator ",") as allReceiveId,
		GROUP_CONCAT(isRead separator ",") as allReceiveRead
		FROM emails 
		<where>
			<if test="sendState!=null">
				and sendState=#{sendState}
			</if>
			<if test="sendId!=null">
				and sendId=#{sendId}
			</if>
			<if test="emailId!=null">
				and emailId=#{emailId}
			</if>
		</where>
		GROUP BY emailId ORDER BY sendTime DESC
		<if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>
	</select>
	
	<!-- 收件数量 -->
	<select id="getReceiveEmailCount" parameterType="Map" resultType="int">
		SELECT COUNT(emailId) FROM emails 
		<where>
			<if test="receiveId != null">
				receiveId=#{receiveId}
			</if>
			<if test="receiveState != null">
				and receiveState=#{receiveState}
			</if>
		</where>
	</select>
	<!-- 收件列表 -->
	<select id="getReceiveEmailList" parameterType="Map" resultType="Map">
		SELECT * FROM emails 
		<where>
			<if test="receiveId != null">
				receiveId=#{receiveId}
			</if>
			<if test="receiveState != null">
				and receiveState=#{receiveState}
			</if>
		</where>
		ORDER BY sendTime DESC
		<if test="offset != null and limit != null">
			LIMIT #{offset},#{limit}
		</if>
	</select>
	
	<select id="select" parameterType="Map" resultType="cn.fivemeter.email.bean.Email">
		SELECT * FROM emails 
		<where>
			<if test="emailId != null">
				emailId=#{emailId}
			</if>
			<if test="sendId != null">
				and sendId=#{sendId}
			</if>
			<if test="receiveId != null">
				and receiveId=#{receiveId}
			</if>
		</where>
	</select>
	
	<update id="update" parameterType="Object">
		UPDATE emails 
		<set>
			<if test="newReceiveId != null">
				receiveId=#{newReceiveId},
			</if>
			<if test="newReceiveName != null">
				receiveName=#{newReceiveName},
			</if>
			<if test="sendId != null">
				sendId=#{sendId},
			</if>
			<if test="sendName != null">
				sendName=#{sendName},
			</if>
			<if test="title != null">
				title=#{title},
			</if>
			<if test="attachId != null">
				attachId=#{attachId},
			</if>
			<if test="content != null">
				content=#{content},
			</if>
			<if test="isRead != null">
				isRead=#{isRead},
			</if>
			<if test="sendState != null">
				sendState=#{sendState},
			</if>
			<if test="receiveState != null">
				receiveState=#{receiveState},
			</if>
			<if test="readTime != null">
				readTime=#{readTime},
			</if>
			<if test="sendTime != null">
				sendTime=#{sendTime}
			</if>
		</set>
		<where>
			<if test="emailId != null">
				emailId=#{emailId}
			</if>
			<if test="receiveId != null">
				and receiveId=#{receiveId}
			</if>
		</where>
	</update>
	
	

</mapper>